#
# Environment variables for the Local Beach Docker Compose setup
#

BEACH_PROJECT_NAME=${BEACH_PROJECT_NAME}
BEACH_VIRTUAL_HOSTS=${BEACH_PROJECT_NAME_LOWERCASE}.localbeach.net

# Change the PHP version to the branch you use in your Beach instances.
# Examples: 8.1 for PHP 8.1.x

BEACH_PHP_IMAGE_VERSION=8.3

# You may specify additional environment variables below, for example
# a URL of a service you use. Make sure to add this variable to the
# "environment" section of the "php" container in ".localbeach.docker-compose.yaml".
