version: '3.7'

networks:
  local_beach:
    name: local_beach

services:
  webserver:
    image: flownative/localbeach-nginx-proxy:0.2.0
    container_name: local_beach_nginx
    networks:
      - local_beach
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - /usr/local/lib/localbeach/certificates:/etc/nginx/certs
    environment:
      - DEFAULT_HOST=hello.localbeach.net
  database:
    image: mariadb:10.5
    container_name: local_beach_database
    networks:
      - local_beach
    volumes:
      - ~/Library/Application Support/Flownative/Local Beach/MariaDB:/var/lib/mysql
    healthcheck:
      test: "/usr/bin/mysql --user=root --password=password --execute \"SHOW DATABASES;\""
      interval: 3s
      timeout: 1s
      retries: 10
    environment:
      - MYSQL_ROOT_PASSWORD=password
    ports:
       - 3307:3306
    command: 'mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci'
